* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --main-color: #46A358;
    --pagination-color: #46A3584D;
    --header-border-b: #46A35880;
}

::selection {
    background-color: var(--main-color);
    color: #FFFFFF;
}

body {
    color: #727272;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 12px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid var(--header-border-b);
    padding-bottom: 12.5px;
}

.header__container-list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.header__container-link {
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.11px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 25px;
}

.header__container-link.active {
    border-bottom: 3px solid transparent;
    border-color: var(--main-color);
    font-weight: 700;
}

.header__container-login {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__container-loginBtn {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Cera Pro', sans-serif;
    background-color: var(--main-color);
    padding: 7px 17px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.11px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    transition: all 0.3 ease;
}

.header__container-loginBtn:hover {
    transform: scale(1.05);
}

.header__container-loginBtn:active {
    opacity: 0.9;
}

.btn {
    display: inline-flex;
    transition: all 0.3 ease;
    background-color: var(--main-color);
    padding: 10px 26px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    opacity: 0.9;
}

.hero {
    padding-bottom: 26px;
}

.hero__container {
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
}

.hero__heading {
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.hero__title {
    max-width: 650px;
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.hero__title-span {
    color: var(--main-color);
}

.hero__text {
    max-width: 557px;
    color: #727272;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}

.hero__btn {
    font-family: 'Cera Pro', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--main-color);
    text-decoration: none;
}

.hero__img {
    width: 518px;
    height: 518px;
}

.hero__pagination-list {
    position: absolute;
    bottom: 17px;
    left: 580px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__pagination-item {
    background-color: var(--pagination-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    list-style: none;
}

.hero__pagination-item:nth-child(2) {
    background-color: var(--main-color);
}

.section__plants {
    padding-top: 26px;
    padding-bottom: 47px;
}

.section__plants-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.section__plants-sidebar {
    max-width: 310px;
    background-color: #FBFBFB;
    padding-top: 14px;
}

.section__sidebar-title {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 7px;
    padding-left: 18px;
}

.section__sidebar-list {
    padding-left: 30px;
    padding-right: 24px;
}

.section__sidebar-item {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: capitalize;
}

.section__sidebar-item.active {
    color: var(--main-color);
    font-weight: 700;
}

.section__sidebar-title-2 {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 20px;
    padding-left: 18px;
}

.section__sidebar-item2 {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: capitalize;
}

.section__sidebar-item2.green-active {
    color: var(--main-color);
    font-weight: 700;
}

.section__sidebar-btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 46px;
    margin-left: 30px;
}

.section__sidebar-price {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 16px;
    padding-left: 30px;
}

.section__sidebar-price span {
    font-weight: 700;
    color: var(--main-color);
}

.section__sidebar-range {
    margin-bottom: 15px;
    padding-left: 30px;
}

.section__sidebar-bannerImg {
    display: flex;
}

.section__plants-aside {
    width: 840px;
}

.section__plants-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section__aside-list {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;
}

.section__aside-item {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    cursor: pointer;
}

.section__aside-item.active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
}

.section__aside-sellect {
    display: flex;
    align-items: center;
}

.section__aside-sellect-span {
    /* display: flex;
    align-items: center; */
    cursor: pointer;
}

.section__plants-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    margin-bottom: 90px;
}


.section__plants-img {
    margin-bottom: 12px;

}

.section__plants-owner {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
}

.section__plants-price {
    color: #46A358;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.section__aside-btn-div {
    width: 215px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.section__aside-btns {
    background-color: transparent;
    color: #3D3D3D;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
}

.section__aside-btns:last-child {
    padding: 8px 8px;
}

.section__aside-btns.active {
    color: #FFFFFF;
    background-color: var(--main-color);
}

.about__flower {
    padding-top: 47px;
    padding-bottom: 69px;

}

.about__flower-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__flower-card {
    max-width: 586px;
    position: relative;
    display: flex;
    align-items: center;
}

.about__flower-flower {
    z-index: -1;
}

.mask-img {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: -1;
}

.about__flower-btn {
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 10px 28px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--main-color);
    border-radius: 6px;
    cursor: pointer;
}

.about__flower-btn:hover {
    transform: scale(1.05);
}

.about__flower-btn:active {
    opacity: 0.9;
}

.about__flower-title {
    color: #3d3d3d;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 9px;
}

.about__flower-text {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    margin-bottom: 25px;
}

.blog__section {
    padding-top: 69px;
    padding-bottom: 100px;
}

.blog__section-texts {
    text-align: center;
    margin-bottom: 35px;
}

.blog__section-title {
    color: #3d3d3d;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 15px;
}

.blog__section-heading {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.blog__section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;
}

.blog__section-card {
    max-width: 268px;
    background-color: #FBFBFB;
}

.blog__section-card-texts {
    padding: 10px 15px;
}

.blog__section-card-img {
    margin-bottom: 8.83px;
}

.blog__section-card-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46a358;
    margin-bottom: 4px;
}

.blog__section-card-title {
    width: 189px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3d3d3d;
    margin-bottom: 4px;
}

.blog__section-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-bottom: 9px;
}

.blog__section-card-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
}

.about__section-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfbfb;
}

.about__section-info {
    padding: 0 34px 0 23px;
    border-right: 1px solid #46A3581A;
}

.about__section-info:last-child {
    border: none;
}

.about__section-info-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.about__section-info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

.about__section-form-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 18px;
}

.about__section-form-input {
    display: flex;
    border-radius: 6px;
    width: 354px;
    margin-bottom: 17px;
}

.about__section-input {
    outline: none;
    border: none;
    border-radius: 6px;
    width: 354px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #acacac;
    padding-left: 11px;
    padding-right: 11px;
}

.about__section-input-btn {
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
    background-color: var(--main-color);
    cursor: pointer;
}

.about__section-form-text {
    width: 354px;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}

.footer {
    padding-top: 1px;
    padding-bottom: 7px;
}

.footer__logo {
    display: flex;
    margin-right: 87px;
}

.footer__container-contact {
    display: flex;
    align-items: center;
    padding: 28px 23px;
    background-color: #46A3581A;
}

.footer__container-contact-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
}

.footer__container-contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__container-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3d3d3d;
    text-decoration: none;
    align-items: center;
}

.footer__main {
    display: flex;
    gap: 150px;
    padding: 33px 0 27px 23px;
    margin-bottom: 7px;
    background-color: FBFBFB;
    border-bottom: 1px solid #46a35833;
}


.footer__main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.footer__main-list {
    list-style: none;
}

.footer__main-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3d3d3d;
    transition: all 0.3s ease;
}

.footer__main-link:hover {
    color: var(--main-color);
}

.footer__main-social {
    margin-bottom: 33px;
}

.footer__main-social-list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.footer__main-social-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.footer__main-price-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 13px;
}

.footer__greenshop {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3d3d3d;
}

.home-to-shop {
    padding-top: 24px;
    padding-bottom: 22px;
}

.home-to-shop p {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.shop__section {
    padding-top: 22px;
    padding-bottom: 46px;
}

.shop__section-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 65px;
}

.shop__section-container-images {
    display: flex;
    gap: 46px;
}

.shop__section-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shop__section-product {
    width: 100px;
    height: 100px;
    display: flex;
}

.shop__section-product.active {
    outline: 1px solid var(--main-color);
}

.shop__section-main-img {
    position: relative;
    background-color: #FBFBFB;
}

.shop__section-search {
    position: absolute;
    right: 19px;
    top: 19px;
}

.shop__section-main-image {
    display: flex;
    width: 444px;
    height: 444px;
}

.shop__section-about {}

.shop__section-about-flower {}

.shop__section-about-flower-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 21px;
}

.shop__section-about-flower-price {
    display: flex;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 15px;
    justify-content: right;
}

.shop__section-about-flower-title-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    color: #46a358;
    padding-bottom: 11px;
    margin-right: auto;

}

.shop__section-about-flower-heading {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-left: 11px;
}

.shop__section-description {}

.shop__section-description-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.shop__section-description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 24px;
}

.shop__section-size-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 23px;
}

.shop__section-size-item {
    width: 28px;
    height: 28px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #727272;
}

.shop__section-size-item.active {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.shop__section-counter {}

.shop__section-counter-div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.shop__section-info-counter {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-right: 26px;
}



.shop__section-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #3d3d3d;
}


.count {
    width: 33px;
    height: 38px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: var(--main-color);
    border: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 16px;
    cursor: pointer;
}

.count:active {
    opacity: 0.8;
}

.shop__section-counter-btn-buy {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: var(--main-color);
    padding: 10px 32px;
    border-radius: 6px;
    margin-right: 10px;
}

.shop__section-counter-btn-add {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--main-color);
    border: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px 32px;
    border-radius: 6px;
    margin-right: 10px;
}

.shop__section-counter-btn-heart {
    color: var(--main-color);
    border: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px 10px 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.shop__section-about-product {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #727272;
}

.shop__section-about-product-list {
    list-style: none;
}

.shop__section-about-product-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #a5a5a5;
    margin-bottom: 10px;
}

.shop__section-about-product-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #727272;
    text-decoration: none;
}

.shop__section-about-social {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.shop__section-about-social-links {
    text-decoration: none;
}

.shop__section-about-product-item-social {
    color: #3d3d3d;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}