@font-face {
    font-family: 'Cera Pro';
    src: url(./fonts/CeraPro-Medium.ttf);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Cera Pro' sans-serif;
    font-family: sans-serif;
}

img {
    display: flex;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --main-color: #46A358;
    --pagination-color: #46A3584D;
    --header-border-b: #46A35880;
}

::selection {
    background-color: var(--main-color);
    color: #FFFFFF;
}

body {
    color: #727272;
    font-family: 'Cera Pro' sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.container {
    max-width: 1248px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    display: none !important;
}

.header {
    padding-top: 25px;
    padding-bottom: 12px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid var(--header-border-b);
    padding-bottom: 12.4px;
}

.header__container-list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.header__container-link {
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.11px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 25px;
}

.header__container-link:hover {
    color: var(--main-color);
    transition: 0.2s;
}

.header__container-link.active {
    border-bottom: 3px solid transparent;
    border-color: var(--main-color);
    font-weight: 700;
}

.header__container-login {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__container-loginBtn {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Cera Pro', sans-serif;
    background-color: var(--main-color);
    padding: 7px 17px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.11px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    transition: all 0.3 ease;
}

.header__container-loginBtn:hover {
    transform: scale(1.05);
}

.header__container-loginBtn:active {
    opacity: 0.9;
}

.btn {
    display: inline-flex;
    transition: all 0.3 ease;
    background-color: var(--main-color);
    padding: 10px 26px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    opacity: 0.9;
}

.hero {
    padding-bottom: 26px;
}

.hero__container {
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 68px;
    padding-bottom: 85px;
}

.hero__img {
    position: absolute;
    top: -48px;
    right: -35px;
    width: 518px;
    height: 518px;
}

.hero__heading {
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.hero__title {
    max-width: 650px;
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.hero__title-span {
    color: var(--main-color);
}

.hero__text {
    max-width: 557px;
    color: #727272;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}

.hero__btn {
    font-family: 'Cera Pro', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--main-color);
    text-decoration: none;
    background-color: var(--main-color);
    padding: 11px 26px;
    border-radius: 6px;
}

.hero__btn svg {
    display: none;
}


.hero__pagination-list {
    position: absolute;
    bottom: 17px;
    left: 580px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__pagination-item {
    background-color: var(--pagination-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    list-style: none;
}

.hero__pagination-item:nth-child(2) {
    background-color: var(--main-color);
}

.section__plants {
    padding-top: 26px;
    padding-bottom: 50px;
}

.section__plants-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    gap: 50px;
}

.section__plants-sidebar {
    display: block;
    max-width: 310px;
    background-color: #FBFBFB;
    padding-top: 14px;
}

.section__sidebar-title {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 7px;
    padding-left: 18px;
}

.section__sidebar-list {
    padding-left: 30px;
    padding-right: 24px;
    padding-bottom: 19px;
}

.section__sidebar-item {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: capitalize;
}

.section__sidebar-item.active {
    color: var(--main-color);
    font-weight: 700;
}

.section__sidebar-title-2 {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 20px;
    padding-left: 18px;
}

.section__sidebar-item2 {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: capitalize;
}

.section__sidebar-item2.green-active {
    color: var(--main-color);
    font-weight: 700;
}

.section__sidebar-btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 46px;
    margin-left: 30px;
}

.section__sidebar-price {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 16px;
    padding-left: 30px;
}

.section__sidebar-price span {
    font-weight: 700;
    color: var(--main-color);
}

.section__sidebar-range {
    margin-bottom: 15px;
    padding-left: 30px;
}

.section__sidebar-bannerImg {
    display: flex;
}

.section__plants-aside {
    max-width: 840px;
}

.section__plants-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.section__aside-list {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;
}

.section__aside-item {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    cursor: pointer;
}

.section__aside-item.active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
}

.section__aside-sellect {
    display: flex;
    align-items: center;
}

.section__aside-sellect-span {
    /* display: flex;
    align-items: center; */
    cursor: pointer;
}

.section__plants-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    margin-bottom: 90px;
}

.section__plants-card {
    position: relative;
    border-top: 1px solid #fff;
}

.section__plants-img {}

.shop__plants-cartt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: #FBFBFB;
    margin-bottom: 12px;
}

.section__plants-sale {
    position: absolute;
    top: 14px;
    left: 0;
    background-color: var(--main-color);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 7px;
}

.section__plants-card:hover {
    border-top: 1px solid var(--main-color);
}

.section__plants-card:hover .img__hover {
    display: flex;
    transition: 0.2s;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    right: 64px;
    gap: 10px;
}

.img__hover {
    position: absolute;
    bottom: -65px;
    z-index: 1;
    right: 64px;
    transition: 0.2s;
    display: flex;
    gap: 10px;
}

.section__plants-card2 {
    position: relative;
    border-top: 1px solid #fff;
}

.section__plants-card2:hover {
    width: 219px;
    transition: 0.2s;
    border-top: 1px solid var(--main-color);
}

.img__hover2 {
    position: absolute;
    bottom: 65px;
    z-index: 1;
    right: 50px;
    display: none;
    gap: 10px;
}


.hover__img-div {
    padding: 8px;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hover__img-div:hover svg path {
    fill: green;
}

.hover__img-div svg {
    display: flex;
}

.section__plants-img {
    max-width: 258px;
    width: 100%;
    max-height: 300px;
}


.section__plants-owner {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
}

.section__plants-price {
    color: #46A358;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.section__aside-btn-div {
    width: 215px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.section__aside-btns {
    background-color: transparent;
    color: #3D3D3D;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
}

.section__aside-btns:last-child {
    padding: 8px 8px;
}

.section__aside-btns.active {
    color: #FFFFFF;
    background-color: var(--main-color);
}

.about__flower {
    padding-top: 50px;
    padding-bottom: 69px;
}

.about__flower-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.about__flower-cart {
    position: relative;
    max-width: 586px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 30px 46px 0;
    background-color: #FBFBFB;
}


.about__flower-main-img {
    position: absolute;
    display: flex;
    bottom: 10px;
}

.about__flower-mask {
    position: absolute;
    left: 0;
    bottom: 0;
}


.about__flower-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.about__flower-text {
    max-width: 292px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}

.about__flower-btn {
    width: 140px;
    margin-left: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    justify-content: end;
    padding: 10px 26px;
    background-color: var(--main-color);
    border-radius: 6px;
}

.about__flower-btn span {
    display: flex;
}

.blog__section {
    padding-top: 69px;
    padding-bottom: 100px;
}

.blog__section-texts {
    text-align: center;
    margin-bottom: 35px;
}

.blog__section-title {
    color: #3d3d3d;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 15px;
}

.blog__section-heading {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.blog__section-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;

}

.blog__section-card {
    max-width: 268px;
    width: 100%;
    background-color: #FBFBFB;
    margin-right: auto;
    margin-left: auto;
}

.blog__section-card-texts {
    padding: 10px 15px;
}

.blog__section-card-img {
    max-width: 268px;
    max-height: 195px;
    height: 100%;
    width: 100%;
    margin-bottom: 8.83px;
}

.blog__section-card-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46a358;
    margin-bottom: 4px;
}

.blog__section-card-title {
    /* max-width: 189px; */
    /* width: 100%; */
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3d3d3d;
    margin-bottom: 4px;
}

.blog__section-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-bottom: 9px;
}

.blog__section-card-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
}

.about__section-container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    /* gap: 5px; */
    padding: 25px;
    background-color: #FBFBFB;
}

.about__section-info {
    padding-left: 27px;
    padding-right: 34px;
    border-right: 1px solid #46A3581A;
    /* background-color: red; */
}

.about__section-info:first-child {
    padding-left: 0;
}

.about__section-info img {
    margin-bottom: 15px;
}

.about__section-info.border-none {
    border-right: 1px solid transparent;
}

.about__section-info-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.about__section-info-text {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

.about__section-form-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 18px;
}

.about__section-form-input {
    max-width: 354px;
    width: 100%;
    display: flex;
    border-radius: 6px;
    margin-bottom: 17px;
}

.about__section-input {
    outline: none;
    border: none;
    border-radius: 6px;
    max-width: 354px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #acacac;
    padding-left: 11px;
    padding-right: 11px;
}

.about__section-input-btn {
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
    background-color: var(--main-color);
    cursor: pointer;
}

.about__section-form-text {
    max-width: 354px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}

.footer__container-first {
    width: 100%;
    background-color: #46A3581A;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.footer__logo {
    display: flex;

}

.footer__container-contact {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 87px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.footer__container-contact-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    list-style: none;
    gap: 60px;
}

.footer__container-contact-item {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__container-contact-link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3d3d3d;
}

.footer {
    padding-top: 1px;
    padding-bottom: 7px;
}


.footer__container-main {
    background-color: #FBFBFB;
}

.footer__main {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 33px 0 27px 23px;
    gap: 150px;
    margin-bottom: 7px;
    border-bottom: 1px solid #46a35833;
}


.footer__main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.footer__main-list {
    list-style: none;
}

.footer__main-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3d3d3d;
    transition: all 0.3s ease;
}

.footer__main-link:hover {
    color: var(--main-color);
}

.footer__main-social {
    margin-bottom: 33px;
}

.footer__main-social-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.footer__main-social-link {
    display: flex;
    border: 1px solid #46A35833;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #46A35899;
    transition: 0.2s;
}

.footer__main-social-link:hover {
    background-color: #46A35899;
    color: white;
}

.footer__main-social-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.footer__main-price-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 13px;
}

.footer__greenshop {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3d3d3d;
}

.home-to-shop {
    padding-top: 24px;
    padding-bottom: 22px;
}

.home-to-home {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

.home-to-shop-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

.shop__section {
    padding-top: 22px;
    padding-bottom: 46px;
}

.shop__section-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 65px;
}

.shop__section-container-images {
    display: flex;
    gap: 46px;
}

.shop__section-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shop__section-product {
    width: 100px;
    height: 100px;
    display: flex;
    cursor: pointer;
}

.shop__section-product.active {
    outline: 1px solid var(--main-color);
}

.shop__section-main-img {
    position: relative;
    background-color: #FBFBFB;
}

.shop__section-search {
    position: absolute;
    right: 19px;
    top: 19px;
}

.shop__section-main-image {
    display: flex;
    width: 444px;
    height: 444px;
}

/* .shop__section-about {} */

/* .shop__section-about-flower {} */

.shop__section-about-flower-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 21px;
}

.shop__section-about-flower-price {
    display: flex;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 15px;
    justify-content: right;
}

.shop__section-about-flower-title-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    color: #46a358;
    padding-bottom: 11px;
    margin-right: auto;

}

.shop__section-about-flower-heading {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-left: 11px;
}

/* .shop__section-description {} */

.shop__section-description-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.shop__section-description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 24px;
}

.shop__section-size-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 23px;
}

.shop__section-size-item {
    width: 28px;
    height: 28px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 16px; */
    color: #727272;
}

.shop__section-size-item.active {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    /* line-height: 28px; */

}

/* .shop__section-counter {} */

.shop__section-counter-div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.shop__section-info-counter {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-right: 26px;
}



.shop__section-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #3d3d3d;
}


.count {
    width: 33px;
    height: 38px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: var(--main-color);
    border: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 16px;
    cursor: pointer;
}

.count:active {
    opacity: 0.8;
}

.shop__section-counter-btn-buy {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: var(--main-color);
    padding: 10px 32px;
    border-radius: 6px;
    margin-right: 10px;
}

.shop__section-counter-btn-add {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--main-color);
    border: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px 32px;
    border-radius: 6px;
    margin-right: 10px;
}

.shop__section-counter-btn-heart {
    color: var(--main-color);
    border: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px 10px 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.shop__section-about-product {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #727272;
}

.shop__section-about-product-list {
    list-style: none;
}

.shop__section-about-product-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #a5a5a5;
    margin-bottom: 10px;
}

.shop__section-about-product-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #727272;
    text-decoration: none;
}

.shop__section-about-social {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.shop__section-about-social-links {
    text-decoration: none;
}

.shop__section-about-product-item-social {
    color: #3d3d3d;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.section__about-product {
    padding-top: 46px;
    padding-bottom: 63px;
}

/* .section__about-product-container {} */

.section__about-product-list {
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 0.3px solid #46A35880;
    list-style: none;
    margin-bottom: 18px;
}

.section__about-product-item {
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: #3d3d3d;
    cursor: pointer;
    padding-bottom: 12px;
}

.section__about-product-item.active {
    border-bottom: 3px solid #46a358;
    font-weight: 700;
    color: #46a358;
}

.section__about-product-description-text {
    margin-bottom: 18px;
}

.section__about-product-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #3d3d3d;
}

.section__ReletedProducts-container {
    position: relative;
    padding-bottom: 60px;
}

.section__ReletedProducts {
    padding-top: 63px;
    padding-bottom: 128px;
}

.section__ReletedProducts-img {
    width: 219px;
    margin-bottom: 12px;
}

.section__ReletedProducts-product-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.section__ReletedProducts-price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #46a358;
}

.section__ReletedProducts-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #46a358;
    padding-bottom: 12px;
    border-bottom: 0.30px solid #46a35880;
    margin-bottom: 44px;
}

.section__ReletedProducts-plants-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section__ReletedProducts-pagination-list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 585px;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.section__ReletedProducts-pagination-item {
    width: 12px;
    height: 12px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}

.section__ReletedProducts-pagination-item.active {
    background-color: var(--main-color);
}

.home-to-shop-to-shoopingCart {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.shopping__cart {
    padding-top: 25px;
}

.shopping__cart-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.shop__cart-category-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
    border-bottom: 0.30px solid #46a35880;
    padding-bottom: 11px;
    margin-bottom: 11px;
    max-width: 782px;
}

.shop__cart-category-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
}

#shop__cart-category-item-pruduct {
    margin-right: 145px;
}

.shop__cart-category-cart-main {
    max-width: 782px;
}

.shop__cart-category-cart {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #FBFBFB;

    /* padding: 0 26px 0 0; */
}

.shop__cart-category-cart:last-child {
    margin-bottom: 0;
}

.shop__cart-category-img {
    margin-right: 14px;

}

.shop__cart-about-product {
    margin-right: 98px;
}

.shop__cart-about-product h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 6px;
}

.shop__cart-about-product p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #a5a5a5;
}

.shop__cart-about-product p span {
    color: #727272;
}

.shop__cart-main-price {
    margin-right: 76px;
}

.shop__section-info-counter-2 {
    margin-right: 82px;
    display: flex;
    gap: 15px;
}

.shop__cart-total-price {
    margin-right: 50px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #46a358;
}

.count2 {
    width: 21px;
    height: 25px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: var(--main-color);
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
}

.count2:active {
    opacity: 0.8;
}

.shop__cart-delete {
    cursor: pointer;
}

.shop__cart-delete:active {
    opacity: 0.8;
}

/* .shop__cart-delete.detele{
    display: none;
} */

.shop__cart-total-container {
    width: 332px;
}

/* .shop__cart-total-title-div {} */

.shop__cart-total-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    border-bottom: 0.30px solid #46a35880;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

.shop__cart-total-inp-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.shop__cart-total-input-div {
    display: flex;
    margin-bottom: 30px;
}

.shop__cart-total-input {
    border: none;
    outline: none;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid var(--main-color);
    border-radius: 3px 0 0 3px;
    width: 332px;

}

.shop__cart-total-inp-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    padding: 12px 25px 12px 35px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 3px 3px 0;
}

.shop__cart-total-inp-btn:active {
    opacity: 0.9;
}

.shop__cart-total-list {
    list-style: none;
}

.shop__cart-total-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shop__cart-total-item:last-child {
    margin-bottom: 8px;
}

.shop__cart-total-item-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #3d3d3d;
}

.shop__cart-total-item-span:nth-child(2) {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
}

.shop__cart-total-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #46a358;
    margin-bottom: 26px;
}

.shop__cart-total-money {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
}

.shop__cart-total-money h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
}

.shop__cart-total-money p {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #46a358;
}

.shop__cart-checkout-btn {
    width: 100%;
    display: block;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    background-color: var(--main-color);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 14px;
}

.shop__cart-continue {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #46a358;
    text-decoration: none;
    text-align: center;
}

.home-to-shop-to-checkout {
    padding-top: 24px;
    padding-bottom: 18px;
}

.home-to-shop-to-checkout p {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.checkout__form {
    padding-top: 18px;
    padding-bottom: 210px;
}

.checkout__form-container {
    display: flex;
    justify-content: space-between;
}

.checkout__form-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 21px;
}

.checkout__form-item {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3d3d3d;
}

.checkout__form-main-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
}

.checkout__form-main-input label {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #3d3d3d;
    display: flex;
    gap: 3px;
}

.checkout__form_main {
    width: 722px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.checkout__form-main-input label span {
    font-weight: 400;
    font-size: 22px;
    line-height: 15px;
    color: #f03800;
}

.checkout__form-main-input input {
    max-width: 350px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: 40px;
    text-transform: capitalize;
    outline: none;
}

textarea {
    resize: none;
}

#countrySelect {
    outline: none;
    max-width: 350px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: 40px;
    text-transform: capitalize;
}

#NumberSelect {
    width: 78px;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: 40px;
}

#StateSelect {
    outline: none;
    max-width: 350px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: 40px;
    text-transform: capitalize;
}

.Appartment::selection {
    color: transparent;
    background-color: transparent;
}

.question-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 54px;
}

.question-checkbox h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
}

/* .question-checkbox .checkbox {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-color);
    cursor: pointer;

} */

.question-checkbox .checkbox.check {
    background-color: var(--main-color);
}

.checkout__form-main-textarea {
    max-width: 350px;
    display: grid;
    grid-column: span 2;

}

.checkout__form-main-textarea p {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.checkout__form-main-textarea textarea {
    border: 1px solid #eaeaea;
    border-radius: 3px;
    max-width: 350px;
    height: 152px;
    outline: none;
    padding: 10px;
    font-family: sans-serif;
}

.checkout__form-subtotal-list {
    width: 405px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: 0.30px solid #46a35880;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

.checkout__form-subtotal-list li {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
}


.checkout__form-subtotal-div {
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    margin-bottom: 10px;
}

.checkout__form-subtotal-div:last-child {
    margin-bottom: 17px;
}

.checkout__form-subtotal-div img {
    margin-right: 11px;
}

.checkout__form-subtotal-product {
    margin-right: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #727272;
}

.checkout__form-subtotal-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #46a358;
}

#shop__cart-about-product {
    margin-right: 42px;
}

#shop__cart-about-product h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 6px;
}

#shop__cart-about-product p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #a5a5a5;
}

#shop__cart-about-product p span {
    color: #727272;
}

/* .checkout__form-total-list {} */

.checkout__form-total-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout__form-total-item:last-child {
    margin-bottom: 8px;
}

.checkout__form-total-item-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #3d3d3d;
}

.checkout__form-total-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #46a358;
    margin-bottom: 16px;
    text-align: right;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 17px;
}

.checkout__form-total-money {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
}

.shop_checkout__form_cart-total-money h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
}

.checkout__form-total-money p {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #46a358;
}

.checkout__form-subtotal-second {
    width: 321px;
    margin-left: auto;
}

.checkout__form-subtotal-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    text-align: right;
    margin-bottom: 19px;
}

.checkout__form-subtotal-heading a {
    font-weight: 500;
    color: #46a358;
    text-decoration: none;
}

.checkout__form-subtotal-heading a:hover {
    text-decoration: underline;
}

.checkbox__form-PaymentMethod {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 19px;
}

.checkbox__form-PaymentMethod-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 11px 10px 8px 11px;
    margin-bottom: 15px;
}

.checkbox__form-PaymentMethod-cart p {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
}

.checkbox__form-PaymentMethod-cart:nth-child(4) {
    margin-bottom: 49px;
}

/* .checkbox__form-PaymentMethod-cart{
    border: 1px solid var(--main-color);
} */

.checkbox__form-payment-choose {
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}

.checkbox__form-payment-choose.active {
    background-color: var(--main-color);
}

.checkbox__form-PaymentMethod-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    border-radius: 3px;
    background: #46a358;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.checkbox__form-PaymentMethod-btn:active {
    opacity: 0.9;
}

.checkout__form-container {
    position: relative;
    max-width: 100%;
    /* height: 100vh; */
    transition: all 0.5s;
    padding: 20px;
}

.checkout__form-container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.checkout__popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 1;
    transition: 0.5s;
}

.checkout__popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}


.double__slider-box {
    background-color: #FBFBFB;
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 20rem;
}

h3.range-title {
    margin-bottom: 4rem;
}

.range__slider {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #46A35833;
    border-radius: 3px;
}

.slider-track {
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
}

.range__slider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: var(--main-color);
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #fff;
    pointer-events: auto;
    cursor: pointer;
    -moz-appearance: none;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

.tooltip {
    padding: .25rem .5rem;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    font-size: .75rem;
    line-height: 1.2;
    border-radius: .25rem;
    bottom: 120%;
    display: block;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.min-tooltip {
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 5;
}

.max-tooltip {
    right: 50%;
    transform: translateX(50%) translateY(-100%);
}

.input-box {
    display: flex;
}

.min-box,
.max-box {
    width: 50%;
}

.min-box {
    padding-right: .5rem;
    margin-right: .5rem;
}

.input-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-addon {
    display: flex;
    align-items: center;
    padding: .625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b566b;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d4d7e5;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-field {
    margin-left: -1px;
    padding: .425rem .75rem;
    font-size: 0.8125rem;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    color: #4b564b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d4d7e5;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.input-field:focus {
    outline: none;
}

.header__responsive-container {
    display: none;
    width: 100%;
    gap: 8px;
}

/* .header__responsive-filter {
    display: none;
} */
.header__responsive-container .button-filter {
    border: none;
    background-color: none;
    border-radius: 14px;
}

.header__responsive-container form {
    background-color: #f8f8f8;
    padding: 11px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    width: 100%;

}

.header__responsive-container input,
::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #a5a5a5;
    border: none;
    background-color: transparent;
    outline: none;
}

.header__responsive-container .btn-search {
    border: none;
    background-color: transparent;

}

.hero__text-r {
    display: none;
}

.heart__svg {
    position: absolute;
    z-index: 1;
    right: 11px;
    top: 12px;
    background-color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.heart__svg svg {
    margin: auto;
    color: #46A358;
}

/* .heart__svg svg{
    /* display: flex; */


@media (max-width: 1200px) {
    .section__plants-sidebar {
        display: none;
    }

    .section__plants-aside {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1116px) {
    .about__flower-main-img {
        position: static;
        max-width: 250px;
        width: 100%;
        max-height: 250px;
        height: 100%;
    }

    .blog__section-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about__section-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about__section-info {
        margin-bottom: 50px;
        border: none;
        padding: 0;
    }

    #about__section-info_border {
        border-bottom: 1px solid #948989;
        border-left: 1px solid #948989;
        padding-bottom: 50px;
        margin-bottom: 0;
        padding-left: 27px;
    }

    #about__section-info_border-r {
        border-right: 1px solid #948989;
        border-top: 1px solid #948989;
    }

    .about__section-form {
        padding-left: 27px;
        padding-top: 10px;
    }

    .footer__container-contact {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .footer__container-contact-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (max-width: 910px) {
    .header__container-list {
        display: none;
    }

    .blog__section-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about__section-info {
        padding: 0;
        border: none;
    }

    .about__section-info {
        margin-bottom: 15px;
    }

    .about__section-info-text {
        max-width: 310px;
        width: 100%;
    }

    /* .footer__main {} */
    .about__section-form-text,
    .about__section-info-text,
    .about__section-form-text {
        font-size: 12px;
        line-height: 14px;
    }

    #about__section-info_border {
        border-bottom: 1px solid #948989;
        border-left: 1px solid #948989;
        padding-bottom: 20px;
        margin-bottom: 0;
        padding-left: 27px;
    }
}

@media (max-width: 850px) {
    .section__plants-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .about__flower-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .about__flower-cart {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .about__flower-main-img {
        position: static;
        max-width: 250px;
        width: 100%;
        max-height: 250px;
        height: 100%;
    }

    .about__flower-title {
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }

    .about__flower-text {
        text-align: center;
        font-size: 14px;
        line-height: 16px;
    }

    .blog__section-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog__section-card-img {
        width: 100%;
    }

    .about__section-container {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
    }

    #about__section-info_border-r,
    #about__section-info_border {
        padding: 0;
        border: none;
    }

    .about__section-info {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    #about__section-info_border {
        margin-bottom: 30px;
    }

    #about__section-info_border-r {
        border-bottom: 1px solid #948989;
        padding-bottom: 30px;
    }

    .about__section-form {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .about__section-form-input {
        width: 100%;
        padding: 0;
    }


}

@media (max-width: 500px) {
    .footer__container-contact-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    .footer__container-contact-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 470px) {
    .header__container-login {
        display: none;
    }

    .header__container-logo {
        display: none;
    }

    .header__responsive-container {
        display: flex;
    }

    .hero {
        padding-bottom: 19px;
    }

    .hero__container {
        display: flex;
        padding-top: 24px;
        padding-left: 23px;
        padding-bottom: 8px;
        padding-right: 0;
    }

    .hero__heading {
        font-size: 11px;
        line-height: 16px;
    }

    .hero__title {
        max-width: 230px;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 3px;
    }

    .hero__text {
        display: none;
    }

    .hero__text-r {
        display: block;
        max-width: 200px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .hero__img {
        width: 213px;
        height: 213px;
        position: absolute;
        right: -59px;
        top: -30px;
    }

    .blog__section-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header__responsive-filter {
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 14px;
        background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
        box-shadow: 0px 10px 20px 0px #46A3584D;
        cursor: pointer;
    }

    .header {
        padding-top: 41px;
        padding-bottom: 17px;
    }

    .header__container {
        border: none;
    }

    .header__responsive-container {
        padding: 0;
    }

    .hero__container {
        background-image: url(../img/hero/bg.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        /* padding: 100px; */
        /* width: 100%; */
        height: 100%;
        /* padding: 0px; */
        margin-left: 24px;
        margin-right: 24px;
        /* background-color: red; */
        padding-bottom: 0;
        background-color: #fff;
    }

    .hero__btn {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #46a358;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0;
        padding: 0;
        padding-bottom: 26px;
    }

    .hero__btn svg {
        display: flex;
    }

    .section__plants {
        padding: 0;
    }

    /* .section__plants-container {} */

    .section__plants-sidebar {
        display: none;
    }

    .section__aside-list {
        margin-bottom: 0;
    }

    .section__aside-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #3d3d3d;
        padding-bottom: 5px;
    }

    .section__aside-item.active {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }

    .section__plants-head {
        margin-bottom: 19px;
    }

    .section__plants-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
    }

    .section__aside-sellect {
        display: none;
    }

    .section__plants-card:hover {
        border-top: transparent;
    }

    .section__plants-card {
        border-top: transparent;
    }

    .shop__plants-cartt {
        border-radius: 20px;
    }

    .section__plants-img {
        max-width: 100%;
        width: 175px;
        height: 200px;
        border-radius: 20px;
    }

    .section__plants-card:hover .img__hover {
        display: none;
    }

    .section__plants-owner {
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 4px;
    }

    .section__plants-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }

    .section__plants-aside {
        width: 100%;
    }

    .section__plants-sale {
        font-size: 13px;
        line-height: 16px;
    }

    .section__aside-btn-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    #section__plants-card-padding {
        padding-top: 31px;
    }

    .section__plants-main {
        margin-bottom: 60px;
    }

    .about__flower-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .about__flower-cart {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .about__flower-main-img {
        position: static;
        max-width: 200px;
        max-height: 200px;
    }

    .about__flower-title {
        text-align: center;
        font-size: 14px;
        line-height: 16px;
    }

    .about__flower-text {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }
}